.submit-form {
  max-width: 400px;
  margin: auto;
}

.adjustment {
  margin-top: 30px;
}

.description-inp {
  height: 200px;
  vertical-align: top;
  padding-top: 8px;
}

.b-center {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.text-cent {
  text-align: center;
}

.JotDown {
  max-width: 1000px;
  margin: 20px auto;
  opacity: 0.85;
  text-align: center;
}

.jotdown-img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
